@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

:root {
  background-color: var(--bodybg);
  scroll-behavior: smooth;
  transition: background-color var(--theme-anim-time);
}

html {
  /* ----------Black Theme---------- */
  --maintext: #f8f8f6;
  --mainborder: #cc0000;
  --shadowhard: #ff0000ee;
  --shadowsoft: #b900b9ee;
  --grayedout: #ffb86c;
  --standout: #ff5555;
  --link: #bd93f9;
  --statok: #50fa7b;
  --statnok: #ff5555;
  --maintitle: #ffb86c;
  --boxtitle: #bd93f9;
  --alttitle: #ff79c6;
  --bodybg: #101114;
  --boxbg: #202124;
  --boxbg2: #303134;
  --tabbg: #44475a33;
  --secbg: #003434;
  --secborder: #ff79c6;
  --border: #44475a;
  --diffadd: #354;
  --diffdel: #534;
  --warnbg: #ff5555;
  --warnborder: #ff5555;
  --noticebg: #354;
  --noticeborder: #50fa7b;

  --theme-anim-time: 300ms;
}

body {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: var(--bodybg);
  margin: 0;
  font-family: "Roboto";
  font-size: 22px;
  transition: var(--theme-anim-time);
}

main {
  padding: 20px;
}

img {
  display: block;
  margin: auto;
}

.divMain {
  margin-top: 80px;
  display: block;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.divBox {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 15px 0 rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  border: solid 1px #cfcfcf;
  padding: 10px;
  font-size: 18px;
  font-family: "Roboto";
  display: flex;
  align-items: center;
  justify-content: center;
  width: fit-content;
  margin: 0px;
}

.flexRow {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 20px;
}

.flexCol {
  display: flex;
  width: inherit;
  align-items: center;
  justify-content: center;
  column-gap: 20px;
}

.alLeft {
  justify-content: left;
}

.main-banner {
  background-color: #003434;
  width: 100%;
  height: 500px;
}

.main-banner-eff {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  border-radius: 3px;
  border: 1px solid;
  animation: rainbow 2.5s linear;
  animation-iteration-count: infinite;
  backdrop-filter: blur 12px;
  border-image-slice: 1;

  padding: 49px;
  /* box-sizing: content-box; */
  background-color: black;
  width: 100%;
  height: 500px;
}

.frame {
  background-color: #087be6;
  width: 30rem;
  height: 80rem;
  border: (100px / 10) dotted #087be6;
  border-radius: (var(--width) / 18);
  box-shadow: 0 0 (var(--width) / 45) #00ccff,
    inset 0 0 (var(--width) / 45) #00ccff, 0 0 (var(--width) / 15) #ff00c8,
    inset 0 0 (var(--width) / 15) #ff00c8;
  filter: brightness(1.5) contrast(2);
}

.nav {
  background-color: var(--bodybg);
  border-bottom: 1px solid var(--mainborder);
  box-shadow: var(--mainborder) 0px 0px 20px;
  background-size: 100%;
  position: fixed;
  z-index: 1;
  color: white;
  height: 80px;
  width: 100%;
  transition: var(--theme-anim-time);
}

.navLogo {
  height: auto;
  width: 200px;

  padding: 0px 40px;
}

.navLogin {
  width: 30%;
  color: var(--maintext);
  transition: var(--theme-anim-time);
}

.sideMenu {
  display: flex;
  height: 100%;
  background-color: black;

  width: 200px;
}
#sideMenu {
  position: fixed;
  display: flex;
  flex-direction: column;
  gap: 5px;
  left: 0px;
  height: fit-content;
  top: 50%;
  translate: 0 -50% 0;
}

.tab {
  display: inline-block;
  margin-left: 40px;
}

/* ---------- Produtos ---------- */

.product {
  border: 1px solid var(--mainborder);
  color: var(--maintext);
  position: relative;
  display: flex;
  flex-direction: column;
  font-family: Chakra Petch;
  -webkit-box-align: center;
  align-items: center;
  width: 250px;
  height: 400px;
  /* background: var(--boxbg); */
  border-radius: 15px 0px;
  /* transition: box-shadow 0.4s ease 0s, border-radius var(--theme-anim-time), color var(--theme-anim-time); */
  transition: var(--theme-anim-time);
  box-shadow: rgba(40, 41, 61, 0.08) 0px 0px 1px,
    rgba(96, 97, 112, 0.16) 0px 0.5px 2px;
}


.product:hover {
  scale: 105%;
  box-shadow: var(--mainborder) 0px 0px 10px, var(--shadowsoft) 0px 0px 25px;
  transition: 200ms;
}

.product-hf {
  /* padding: 10px; */
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: auto;
}

.product-img {
  size-adjust: -1px;
  background-color: var(--bodybg);
  display: inherit;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  height: 80%;
  transition: var(--theme-anim-time);
}

.product-btn {
  background-color: var(--bodybg);
  color: var(--maintext);
  cursor: pointer;
  border: 1px solid var(--shadowsoft);
  font-size: 12pt;
  font-family: Roboto;
  font-weight: 400;
  border-radius: 5px;
  width: inherit;
  height: 40px;
  margin: 10px;
  transition: var(--theme-anim-time);
}

.product-btn:hover {
  /* background-color: var(--shadowsoft); */
  box-shadow: var(--shadowsoft) 0px 0px 10px inset;
}

/* ----------Barra de Pesquisa---------- */

input[type="search"] {
  width: 50%;
  height: 40px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
  background-color: white;
  background-image: url("/TDESegundoSemestre/assets/Vector_search_icon.svg");
  background-size: 35px;
  background-position: 5px 5px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
  transition: 0.4s;
}

input[type="search"]:hover {
  width: 200%;
}

input[type="search"]:focus {
  width: 200%;
}

/* ----------Barra Lateral---------- */

/* The sidebar menu */
.sideMenu {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 200px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 0; /* Stay on top */
  top: 30; /* Stay at the top */
  left: 0;
  background-color: darkred; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 20px;
}

/* The navigation menu links */
.sideMenu a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

/* When you mouse over the navigation links, change their color */
.sideMenu a:hover {
  color: #f1f1f1;
}

/* Style page content */
.main {
  margin-left: 160px; /* Same as the width of the sidebar */
  padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sideMenu {
    padding-top: 15px;
  }
  .sideMenu a {
    font-size: 18px;
  }
}

/* ----------Theme Switch---------- */

.switch {
  position: relative;
  display: inline-block;
  width: 56px;
  height: 28px;
}

.switch input {
  visibility: hidden;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--bodybg);
  border: 1px solid var(--mainborder);
  -webkit-transition: var(--theme-anim-time);
  transition: var(--theme-anim-time);
}

.slider::before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 3px;
  bottom: 3px;

  background-color: var(--mainborder);
  transition: var(--theme-anim-time);
}

input:checked + .slider {
  background-color: whitesmoke;
  border-radius: 14px;
}

input.focus + .slider {
  box-shadow: 0 0 1px black;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
  border-radius: 10px;
  background-color: var(--mainborder);
}

@keyframes rainbow {
  100%,
  0% {
    color: rgb(255, 0, 0);
  }
  8% {
    color: rgb(255, 127, 0);
  }
  16% {
    color: rgb(255, 255, 0);
  }
  25% {
    color: rgb(127, 255, 0);
  }
  33% {
    color: rgb(0, 255, 0);
  }
  41% {
    color: rgb(0, 255, 127);
  }
  50% {
    color: rgb(0, 255, 255);
  }
  58% {
    color: rgb(0, 127, 255);
  }
  66% {
    color: rgb(0, 0, 255);
  }
  75% {
    color: rgb(127, 0, 255);
  }
  83% {
    color: rgb(255, 0, 255);
  }
  91% {
    color: rgb(255, 0, 127);
  }
}
